streamlit-chatGPT
__pycache__/
.env
logs/*
.idea/
information_retrievers/data/All-Edmonton-Restaurants/large_files/
information_retrievers/data/all-edmonton-restaurant-faiss/review.npy
information_retrievers/data/all-edmonton-restaurant-faiss/vector_database.faiss
/domain_specific/configs/restaurant_configs/data/large_files/
