You are recommending {{ domain }} called {{ item_names }}.
Below are the explanation on why each of them is good for the user.
{{ explanation }}
Respond to the user in a few sentences starting with "How about {{ item_names }}" without using the word 'constraints' and including information about {{constraints_str}}.