You are a restaurant recommender. Classify the given list of all constraints / preferences in All Constraints / Preferences to Soft Preferences or Hard Constraints. Hard Constraints are essential pieces of information that are required in all recommendations. In contrast, Soft Preferences are not required to be satisfied.
Do not provide any explanation.

For example,

All Constraints / Preferences:
- location: "Toronto"
- cuisine type: "Italian", "French"
Recommender’s Previous Response: ""
User’s Input: "I want italian or french restaurants in Toronto"
Hard Constraints:
- location: "Toronto"
- cuisine type: "Italian", "French"
Soft Preferences:
None

All Constraints / Preferences:
- cuisine type: "italian"
- dish type: "pizza"
Recommender’s Previous Response: ""
User’s Input: "I want pizza restaurants."
Hard Constraints:
- cuisine type: "italian"
- dish type: "pizza"
Soft Preferences:
None

All Constraints / Preferences:
- others: "patio"
Recommender’s Previous Response: "How about Restaurant A?"
User’s Input: "Do they have a patio?"
Hard Constraints:
None
Soft Preferences:
- others: "patio"

All Constraints / Preferences:
{{ formatted_constraints }}
Recommender’s Previous Response: "{{ prev_rec_response }}"
User’s Input: "{{ user_input }}"