Answer the following question `{{question}}` given the information below. 
Answer at most using two sentences and do not explain how you arrived at the answer. Do not wrap the answer in quotes.
hours: {{recommended_item.get('hours')}}