Your job is to answer the following question in a concise, natural manner without explaining how you arrived at the conclusion. 
The question is `{{question}}` and answer it given the information below.  
{{key}}: {{val}}
If you cannot answer the question given the information respond with the statement "I do not know".
Do not wrap the response in quotes.