Does the answer to the following question directly address the user's question?
        
Question: "Do they have a high chair?"
Answer: "Subway is kid friendly."
Response: No.

Question: "Do they serve vodka?"
Answer: "They have a full bar."
Response: No.

Question: "Are their gluten free options?"
Answer: "Yes, there are gluten free options."
Response: Yes.

Question: "{{question}}"
Answer: "{{resp}}"
Response: