Given a user input, please respond with a number from 1 to 10 for whether the user input contains a user intent of “Ask for Recommendation”: User asks for a recommendation. 
                For example:
                User input: I want a restaurant recommendation.
                Response: 10
                User input: i like vegetarian food.
                Response: 1
                User input: Can you tell me somewhere good to eat?
                Response: 10
                User Input: I want chinese food
                Response: 1
                User input: I want a restaurant in (location)
                Response: 10
                User input: {{ user_input }}
                Response: