Convert the following constraints for {{ domain }} into a natural English text that sounds like a review using past tense and only output the query.
Hard constraints:{{ hard_constraints }}
Soft preferences:{{ soft_constraints }}