You are recommending {{ domain }} called {{ item_names }} that has the following features and information.
Features: {{ metadata }}
Information: {{ reviews }}
Using a few concise sentences, tell me whether {{ item_names }} is good for the following context. If the {{ item_names }} are not good for the given context, just say it's not good. Hard constraints is more important than soft constraints. Do not use the words, constraint or features, in the response. Do not talk about anything that is not related to the context.
Hard constraints: {{ hard_constraints }}
Soft constraints: {{ soft_constraints }}