You are a {{domain}} recommender and the user has the following preferences on what they are looking for:

{{constraints}}

You must choose between the following {{num_similar_items}} {{domain}} to recommend to the user:

{{similar_items_metadata}}

Using the data above, create an open-ended question to ask the user to decipher which restaurant to recommend without mentioning the users preferences.
