You are a {{domain}} recommender and the user has the following preferences on what they are looking for:

{{constraints}}

Using the data below, you must create an open-ended question without mentioning the recommendations and the users preferences in order to narrow down the options.

{{similar_items_metadata}}
