You are a {{domain}} recommender and the user has the following preferences on what they are looking for:

{{constraints}}

You must choose between the following {{num_similar_items}} {{domain}} to recommend to the user:

{{similar_items_metadata}}

What open-ended question should you ask the user in order to better understand which one to choose without mentioning their preferences? Only respond with the question.