Does the following input mention any one of the following categories? They are referring to the restaurant {{curr_restaurant.get('name')}}.

Please classify it into one of the following categories: 
{{categories}}
Only respond with the name of the category. 

Input:  What's their address?
Output: address

Input: Can you recommend any dishes or specialties?
Output: none

Input: Can I make a reservation?
Output: HasReservations

Input: What are the meals it's known for?
Output: PopularMeals

Input: {{question}}
Output: