A user asked a question "{{question}}" referring to the following restaurants: {{curr_ment_res_names_str}}.

Below are the answers to the question for each restaurant.
{{res_to_answ}}

Format the response to the user.