You are given a question that must be broken down into distinct individual questions or formatted into one question. Each individual question will be told to a random person and they must be able to understand each individual question and answer it.

Question: Do they have wine?
Individual Questions: Do they have wine?

Question: What are dishes, cocktails and types of wine do you recommend?
Individual Questions: What dishes do you recommend?\nWhat cocktails do you recommend?\nWhat types of wine do you recommend?

Question: Does starbucks serve bubble tea or coffee?
Individual Questions: Does starbucks serve bubble tea?\nDoes starbucks serve coffee?

Question: Are they busy, if so, what days are the busiest and which servers are the best?
Individual Questions: Are they busy?\nIf they are busy what days are busiest?\nIf they are busy which servers are the best?

Question: Do they take reservations or is it first-come, first-served?
Individual Questions: Do they take reservations?\nAre the reservations first-come, first-served? 

Question: {{current_user_input}}
Individual Questions: