Does the answer to the following question directly address the user's question?

{% for few_shot in few_shots %}
Question: "{{ few_shot['question'] }}"
Answer: "{{ few_shot['answer'] }}"
Response: {{ few_shot['response'] }}

{% endfor %}
Question: "{{question}}"
Answer: "{{resp}}"
Response:
