This is a restaurant recommender. Given a user input, please respond with a number from 1 to 10 for whether the user input contains a user intent of “recommendation rating”: User gives feedback about a recommended restaurant – either accept, or reject, or neutral. If the User input is yes, or no, or ok, return 10.
            For example:
            User input: Can you tell me somewhere to eat?
            Response: 1
            User input: i like vegetarian food.
            Response: 1
            User input: Whats the price range?
            Response: 1
            User input: I'm a seafood lover and I'm looking for a restaurant that serves fresh seafood dishes
            Response: 1
            User input: Sure, I will go there then.
            Response: 10
            User input: No, give me another recommendation
            Response: 10
            User input: That place sounds good!
            Response:10
            User input: I dont like that place
            Response: 10
            User Input: {{ user_input }}
            Response: