#google_api_key_box {
    height: auto !important;
}

#openai_api_key_box {
    height: auto !important;
}

#google_api_key_submit_button {
    height: 100% !important;
}

#openai_api_key_submit_button {
    height: 100% !important;
}